<template>
  <section class="section">
    <div class="container">
      <b-field grouped>
        <b-field>
          <p class="control">
            <b-dropdown>
              <button slot="trigger" class="button">
                <span>Filters</span>
                <b-icon icon="menu-down" />
              </button>

              <b-dropdown-item value="open_issues">
                One filter
              </b-dropdown-item>
              <b-dropdown-item value="your_issues">
                Another Filter
              </b-dropdown-item>
              <b-dropdown-item value="pull_requests">
                They don't work yet
              </b-dropdown-item>
              <b-dropdown-item value="everything">
                Just an example
              </b-dropdown-item>
            </b-dropdown>
          </p>
          <b-input v-model="search" icon="magnify" placeholder="Filter and search" type="search" @input="filteredSubmissions" />
        </b-field>
        <b-field class="is-hidden-touch">
          <b-datepicker
            placeholder="Select start date"
            icon="calendar-today"
          />
        </b-field>
        <b-field class="is-hidden-touch">
          <b-datepicker
            placeholder="Select end date"
            icon="calendar-today"
          />
        </b-field>
      </b-field>
      <b-table
        paginated
        per-page="5"
        :data="results"
        detailed
        detail-key="_id"
        narrowed
        striped
        hoverable
        mobile-cards
      >
        <template slot-scope="props">
          <b-table-column field="_id" label="ID">
            <small>{{ props.row._id }}</small>
          </b-table-column>

          <b-table-column field="entityName" label="Name">
            {{ props.row.entityName }}
          </b-table-column>

          <b-table-column field="solTitle" label="Solicitation Name" numeric>
            {{ props.row.solTitle }}
          </b-table-column>

          <b-table-column field="solNumber" label="Solicitation Number" numeric>
            {{ props.row.solNumber }}
          </b-table-column>

          <b-table-column field="createdAt" label="Received" numeric>
            <span class="tag is-success">
              {{ new Date(props.row.createdAt).toLocaleString() }}
            </span>
            <span class="tag is-info">
              {{ timeElapsed(new Date(props.row.createdAt).toLocaleString()) }}
            </span>
          </b-table-column>
        </template>

        <template slot="detail" slot-scope="props">
          <div class="buttons">
            <a v-for="file in props.row.files" :key="file.name" class="button is-small is-rounded is-info" :href="`https://msis-procurement-api.azurewebsites.net/files/${file}`" target="_blank">
              {{ file }}
            </a>
          </div>
        </template>
      </b-table>
    </div>
  </section>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import moment from 'moment'

export default {
  layout: 'auth',
  async fetch({ store, params }) {
    await store.dispatch('procurement/getSubmissions')
  },
  data() {
    return {
      results: [],
      search: '',
      columns: [
        {
          field: '_id',
          label: 'ID',
          width: '40',
          numeric: false,
          sortable: true
        },
        {
          field: 'entityName',
          label: 'Name:',
          sortable: true
        },
        {
          field: 'createdAt',
          label: 'Received:',
          sortable: true
        },
        {
          field: 'solNumber',
          label: 'Solicitation Number:',
          sortable: true
        },
        {
          field: 'solTitle',
          label: 'Solicitation Title:',
          sortable: true
        }
      ]
    }
  },
  computed: {
    ...mapGetters({ isAuthenticated: 'auth/isAuthenticated' }),
    ...mapGetters({ submissions: 'procurement/submissions' }),
    ...mapState('auth', { user: state => state.user }),
    filteredResults() {
      if (this.search.length > 0) {
        return this.filteredSubmissions
      }
      return this.submissions
    }
  },
  created() {
    this.results = this.submissions
  },
  methods: {
    timeElapsed(date) {
      return moment(date).fromNow()
    },
    filteredSubmissions() {
      this.results = this.submissions.filter(item =>
        item._id.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
          item.entityName.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
          item.createdAt.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
          item.solNumber.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
          item.solTitle.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      )
    }
  }

}
</script>

<style>

</style>
