<template>
  <div>
    <nav
      class="navbar header is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand" style="justify-content: space-between;">
          <div>
            <img src="/mde-logo-light.svg" width="120">
          </div>
          <div class="navbar-item">
            <b-dropdown>
              <button slot="trigger" class="button is-primary">
                <b-icon icon="menu" />
              </button>

              <b-dropdown-item @click="logout">
                Logout
              </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
        <div class="navbar-item is-hidden-touch">
          <h1 class="title is-5 has-text-white">
            Mississippi Deparment of Education
            <br>
            <h1 class="subtitle is-6 has-text-white">
              Office of Procurement
            </h1>
          </h1>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <!--
            <div class="navbar-item">
              <a class="button is-primary" href="/submission" type="button">
                <b-icon icon="cube-send" />
                <span>Submit Procurement</span>
              </a>
            </div>
            -->
            <div class="navbar-item">
              <b-dropdown position="is-bottom-left">
                <button slot="trigger" class="button is-primary" type="button">
                  <span>{{ user.email }}</span>
                  <b-icon icon="menu-down" />
                </button>

                <b-dropdown-item custom paddingless>
                  <form action="">
                    <div class="modal-card" style="width:300px;">
                      <section class="modal-card-body">
                        <b-checkbox>Remember me</b-checkbox>
                      </section>
                      <footer class="modal-card-foot">
                        <button class="button is-danger" @click="logout">
                          Logout
                        </button>
                      </footer>
                    </div>
                  </form>
                </b-dropdown-item>
              </b-dropdown>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nuxt />
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  middleware: 'authenticated',
  data() {
    return {
      email: '',
      password: '',
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  },
  computed: {
    ...mapGetters({ isAuthenticated: 'auth/isAuthenticated' }),
    ...mapState('auth', { user: state => state.user })
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.replace('/')
        })
    }
  }
}
</script>
