<template>
  <div>
    <nav
      class="navbar header is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <div>
            <img src="/mde-logo-light.svg" width="120">
          </div>

          <div class="navbar-burger">
            <span />
            <span />
            <span />
          </div>
        </div>
        <div class="navbar-item is-hidden-mobile">
          <h1 class="title is-5 has-text-white">
            Mississippi Deparment of Education
            <br>
            <h1 class="subtitle is-6 has-text-white">
              Office of Procurement
            </h1>
          </h1>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a class="button is-primary" href="/submission" type="button">
                <b-icon icon="cube-send" />
                <span>Submit Procurement</span>
              </a>
            </div>
            <div class="navbar-item">
              <b-dropdown position="is-bottom-left">
                <button slot="trigger" class="button is-primary" type="button">
                  <span>Login</span>
                  <b-icon icon="menu-down" />
                </button>

                <b-dropdown-item custom paddingless>
                  <form action="">
                    <div class="modal-card" style="width:300px;">
                      <section class="modal-card-body">
                        <b-field label="LEA Login">
                          <b-icon icon="github-circle" />
                        </b-field>
                        <b-field label="Email">
                          <b-input
                            v-model="email"
                            type="email"
                            placeholder="Your email"
                            required
                          />
                        </b-field>

                        <b-field label="Password">
                          <b-input
                            v-model="password"
                            type="password"
                            password-reveal
                            placeholder="Your password"
                            required
                          />
                        </b-field>

                        <b-checkbox>Remember me</b-checkbox>
                      </section>
                      <footer class="modal-card-foot">
                        <button class="button is-primary" @click="login">
                          Login
                        </button>
                      </footer>
                    </div>
                  </form>
                </b-dropdown-item>
              </b-dropdown>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  },
  methods: {
    login() {
      this.$store
        .dispatch('auth/login', { email: this.email, password: this.password })
        .then(() => {
          // this.$router.replace('/msis/dashboard')
        })
        .catch((error) => {
          this.email = this.password = ''
          this.$toast.open({
            message: error,
            type: 'is-error'
          })
        })
    }
  }
}
</script>
