<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-head">
      <nav
        class="navbar header is-primary"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="navbar-brand" style="justify-content: space-between;">
            <div>
              <img src="/mde-logo-light.svg" width="120">
            </div>
            <!-- <div slot="trigger" class="navbar-burger">
              <span />
              <span />
              <span />
            </div> -->
            <div class="navbar-item">
              <b-dropdown>
                <button slot="trigger" class="button is-primary">
                  <b-icon icon="menu" />
                </button>

                <b-dropdown-item @click="adminLogin">
                  Login
                </b-dropdown-item>
                <b-dropdown-item>
                  <a href="/submission">
                    Submit
                  </a>
                </b-dropdown-item>
              </b-dropdown>
            </div>
          </div>

          <div class="navbar-item is-hidden-touch">
            <h1 class="title is-5 has-text-white">
              Mississippi Deparment of Education
              <br>
              <h1 class="subtitle is-6 has-text-white">
                Office of Procurement
              </h1>
            </h1>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="button is-primary" href="/submission" type="button">
                  <b-icon icon="cube-send" />
                  <span>Submit Procurement</span>
                </a>
              </div>
              <div class="navbar-item">
                <b-dropdown position="is-bottom-left">
                  <button slot="trigger" class="button is-primary" type="button">
                    <span>Login</span>
                    <b-icon icon="menu-down" />
                  </button>

                  <b-dropdown-item custom paddingless>
                    <form action="">
                      <div class="modal-card" style="width:300px;">
                        <section class="modal-card-body">
                          <b-field label="LEA Login">
                            <div class="field is-grouped" style="justify-content: space-around;">
                              <button class="button is-rounded is-info" type="button" @click="adminLogin">
                                <b-icon icon="office" />
                                <span>O365</span>
                              </button>
                              <button class="button is-rounded is-danger" type="button" @click="userLogin">
                                <b-icon icon="google" />
                                <span>G Suite</span>
                              </button>
                            </div>
                          </b-field>
                          <b-field label="Email">
                            <b-input
                              v-model="email"
                              type="email"
                              label="Your email"
                              required
                            />
                          </b-field>

                          <b-field label="Password">
                            <b-input
                              v-model="password"
                              type="password"
                              password-reveal
                              label="Your password"
                              required
                            />
                          </b-field>

                          <b-checkbox>Remember me</b-checkbox>
                        </section>
                        <footer class="modal-card-foot">
                          <button class="button is-primary">
                            Login
                          </button>
                        </footer>
                      </div>
                    </form>
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body  has-bg-img">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <h1 class="title is-2-desktop is-4-touch">
              Welcome to the new app
            </h1>
            <h1 class="subtitle is-3-desktop is-5-touch">
              Empowering schools, districts
              and parents with data.
            </h1>
            <h1 class="subtitle is-5-desktop is-6-touch">
              Put some nice stuff here and talk about stuff
            </h1>
            <a class="button is-medium is-rounded">
              Submit Procurement
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'blank',
  name: 'HomePage',
  components: {},
  data() {
    return {
      email: '',
      password: '',
      menu: false
    }
  },
  methods: {
    success() {
      this.$toast.open({
        message: 'Something happened correctly!',
        type: 'is-success'
      })
    },
    adminLogin() {
      this.email = 'Albin.Dach@example.org'
      this.password = 'i4VWzuwAxLMQUUz'
      this.login()
    },
    userLogin() {
      this.email = 'Randi.Hodkiewicz28@example.com'
      this.password = 'srKPHqMgUieujSk'
      this.login()
    },
    login() {
      this.$store
        .dispatch('auth/login', { email: this.email, password: this.password })
        .then(() => {
          this.$router.replace('/procurement')
        })
        .catch((error) => {
          console.log(error)
          this.email = this.password = ''
        })
    }
  }

}
</script>

<style scoped>
.has-bg-img { background: url('/msis-landing.svg')center center; background-size:cover; }
</style>
