<template>
  <section class="hero is-fullheight is-primary">
    <div class="hero-body">
      <div class="modal is-active has-text-dark">
        <div class="modal-background" />
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title" v-text="cardHeader" />
            <span class="tag is-rounded is-medium is-primary">
              {{ step }}
            </span>
            <!-- <button class="delete" aria-label="close" /> -->
          </header>
          <section v-show="step === 1" class="modal-card-body">
            Welcome to the MDE Procurement Submission portal. Follow the steps on your screen and you will be able to successfully submit.
            <br><br>
            <b-notification type="is-info" has-icon>
              <p>
                Things you'll need to complete your submission:
              </p>
              <br>
              <ol style="margin-left: 25px;">
                <li>Your DUNS number or Business ID</li>
                <li>Your name and contact Email</li>
                <li>Your RFx Number if needed for your submission.</li>
                <li>Your response in PDF format.</li>
              </ol>
            </b-notification>
          </section>

          <section v-show="step === 2" class="modal-card-body">
            <b-field label="Company, personal or DBA name">
              <b-input v-model="entityName" placeholder="ACME" icon="office-building" />
            </b-field>
            <b-field label="DUNS Number or SoS Business ID">
              <b-input v-model="entityId" placeholder="1234567" icon="office-building" />
            </b-field>
            <b-field label="Contact Email">
              <b-input v-model="contactEmail" placeholder="info@acme.com" icon="email" />
            </b-field>
            <b-field label="Contact first name">
              <b-input v-model="contactFirstName" placeholder="Master" icon="account" />
            </b-field>
            <b-field label="Contact last name">
              <b-input v-model="contactLastName" placeholder="Splinter" icon="account" />
            </b-field>
          </section>
          <section v-if="step === 3" class="modal-card-body">
            <b-field label="Solicitation title">
              <b-input v-model="solicitationTitle" value="Rocket Skates" />
            </b-field>
            <b-field label="Solicitation/RFx number">
              <b-input v-model="solicitationNumber" value="1234567890" />
            </b-field>
            <b-notification type="is-warning" has-icon>
              <strong>Note:</strong>
              <p>
                If your solicitation requires an RFx number and you do not provide it,
                your solicitation will be invalidated. Check the box below if your
                solicitation does not require an RFx number.
              </p>
              <br>
              <div class="field">
                <b-checkbox v-model="rfxCheck">
                  By checking this box I have either entered the required RFx number
                  or I verify that I don't need one.
                </b-checkbox>
              </div>
            </b-notification>
          </section>
          <section v-show="step === 4" class="modal-card-body has-text-centered">
            <b-field>
              <b-upload
                v-model="dropFiles"
                multiple
                drag-drop
                @input="filesAttached"
              >
                <section class="section">
                  <div class="content has-text-centered">
                    <p>
                      <b-icon
                        icon="upload"
                        size="is-large"
                      />
                    </p>
                    <p>Drop your files here or click to upload</p>
                  </div>
                </section>
              </b-upload>
            </b-field>

            <!--
              <div class="tags">
              <span
                v-for="(file, index) in dropFiles"
                :key="index"
                class="tag is-primary"
              >
                {{ file.name }}
                <button
                  class="delete is-small"
                  type="button"
                  @click="deleteDropFile(index)"
                />
              </span>
            </div>
            -->
            <b-field grouped group-multiline>
              <div class="control">
                <b-taglist v-for="(file, index) in dropFiles" :key="index" attached>
                  <b-tag type="is-dark">
                    {{ file.size }}
                  </b-tag>
                  <b-tag type="is-primary" rounded closable @close="deleteDropFile(index)">
                    {{ file.name }}
                  </b-tag>
                </b-taglist>
              </div>
            </b-field>
          </section>
          <section v-show="step === 5" class="modal-card-body">
            <b-notification type="is-info" has-icon>
              Use this screen to verify the information being sent to MDE. Verify all required files are attached and all fields are correct.
            </b-notification>
            <div class="columns">
              <div class="column is-5">
                <div class="card is-shadowless">
                  <div class="card-header">
                    <div class="card-header-title">
                      Files:
                    </div>
                  </div>
                  <div class="card-content">
                    <b-taglist>
                      <b-tag v-for="file in dropFiles" :key="file.name" type="is-info" v-text="file.name" />
                    </b-taglist>
                  </div>
                </div>
              </div>
              <div class="column is-7 has-text-dark">
                <div class="card is-shadowless">
                  <div class="card-header">
                    <div class="card-header-title">
                      Information:
                    </div>
                    <div class="card-header-icon">
                      <b-icon icon="fingerprint" />
                    </div>
                  </div>
                  <div class="card-content">
                    <p>
                      Company Name:
                    </p>
                    <strong v-text="entityName" />
                    <p>
                      Company ID:
                    </p>
                    <strong v-text="entityId" />
                    <p>
                      Contact Name:
                    </p>
                    <strong>{{ contactFirstName }} {{ contactLastName }}</strong>
                    <p>
                      Contact Email:
                    </p>
                    <strong v-text="contactEmail" />
                    <p>
                      Solicitation Title:
                    </p>
                    <strong v-text="solicitationTitle" />
                    <p>
                      Solicitation Number:
                    </p>
                    <strong v-text="solicitationNumber" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot" style="justify-content: space-between;">
            <a class="button is-danger is-outlined" href="/">
              Cancel
            </a>
            <div>
              <button v-if="step > 1" class="button is-warning" @click="step--">
                <b-icon icon="menu-left" />
                <span>Back</span>
              </button>
              <button v-if="step < 5" :disabled="!rfxCheck && step === 3" class="button is-success" @click="step++">
                <span>Continue</span>
                <b-icon icon="menu-right" />
              </button>
              <button v-if="step === 5" class="button is-primary" @click="success">
                <span>Submit</span>
                <b-icon icon="cloud-upload" />
              </button>
            </div>
          </footer>
        </div>
      </div>
    <!--  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-8-tablet is-12-mobile">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              This is a fake card
            </div>
          </div>
        </div>
        </div>
        </div>
      </div> -->
    </div>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'blank',
  data() {
    return {
      isComponentModalActive: false,
      formProps: {
        email: 'evan@you.com',
        password: 'testing'
      },
      dropFiles: [],
      step: 1,
      rfxCheck: false,
      entityName: '',
      entityId: '',
      contactFirstName: '',
      contactLastName: '',
      contactEmail: '',
      solicitationTitle: '',
      solicitationNumber: ''
    }
  },
  computed: {
    cardHeader() {
      switch (this.step) {
        case 1: return 'Pre-flight checks'
        case 2: return 'Contact information'
        case 3: return 'Submission information'
        case 4: return 'File attachments'
        case 5: return 'Verify submission'
        case 6: return 'Submission results'
        default: return 'Save or print the image below'
      }
    }
  },
  created() {
    this.isComponentModalActive = true
  },
  methods: {
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1)
    },
    success() {
      this.$toast.open({
        message: 'Something happened correctly!',
        type: 'is-success'
      })
    },
    filesAttached() {
      this.$toast.open({
        message: this.dropFiles.length + ' files attached successfully.',
        type: 'is-success'
      })
    },
    submit() {
      const formData = new FormData()

      for (let i = 0; i < this.dropFiles.length; i++) {
        const file = this.dropFiles[i]
        formData.append('uri', file)
        console.log('appended file to form: ', file)
      }

      formData.append('entityName', this.entityName)
      formData.append('contactEmail', this.contactEmail)
      formData.append('contactFirstName', this.contactFirstName)
      formData.append('contactLastName', this.contactLastName)
      formData.append('entityId', this.entityId)
      formData.append('solNumber', this.solicitationNumber)
      formData.append('solTitle', this.solicitationTitle)

      // axios.post( 'http://localhost:3030/procurement-submissions',
      axios.post('https://msis-procurement-api.azurewebsites.net/procurement-submissions',
        formData,
        {
          headers: { 'Content-Type': 'multipart/form-data' },
          onUploadProgress: function (progressEvent) {
            this.uploadPercentage = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total))
          }.bind(this)
        }
      )
        .then((response) => {
          this.uploading = false
          console.log(response)
          this.uploadedFiles = response.data.files
          this.uploadId = response.data._id
          this.submissionTime = response.data.createdAt
          this.formResponse = response.data
          this.step = 6
        })
        .catch(function () {
          console.log('FAILURE!!')
        })
    }
  }

}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
